body {
  margin: 0;
  padding: 0;
  min-height: 5996px;
}

/* Nav Bar */

.Navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(26, 29, 37);
  height: 5vh;
  margin: 0;
  padding: 0;
}

.nav1 {
  color: antiquewhite;
  font-size: 175%;
  padding: 0;
  padding-left: 50px;
  margin-bottom: 0;
}


.menu1 {
  display: inline-flex;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 6px;
}

.menu1 li a {
  color: antiquewhite;
  padding-right: 5px;
  text-decoration: none;
}

.menu1 li a:hover {
  color: rgb(168, 150, 128);
}

.buttonTop {
  color: rgb(253, 231, 201);
  background-color: rgb(153, 108, 52);
  border: 1px solid gray;
  border-radius: 4px;
}

/*Home Hero*/

.HomeHero {
  min-height: 720px;
  background-image: url(../img/fit1.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: antiquewhite;
}

.heroOne {
  max-width: 100vw;
  min-height: 720px;
  background-color: rgba(13, 41, 46, 0.521);
  margin: 0;
  padding: 0%;
}

.postedHero {
  padding: 100px 0 0 50px;


}

.postedHero button {
 background-color: rgb(207, 207, 77);
 border: none;
 color: rgb(34, 25, 25);
 font-size: 100%;
}

.postedHero button:hover {
  border: 2px solid rgb(129, 3, 81);
  text-decoration: underline;
}
.topMymain {
  font-size: 180%;
}

.postedHero h2 {
  font-size: 200%;
}

.strongYellow {
  color: rgb(214, 214, 59);
}
 
/*FeaturedPosts*/

.FeaturedPosts {
  display: grid;
  grid-template-columns: 60fr 40fr;
  padding-top: 50px;
  padding-left: 20px;
}

.Featureleft {
  min-height: 800px;
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
}
.featureCentr {
  max-width: 90%;
  padding-left: 30px;
}

.featureCentr img {
  max-width: 530px;
}
.allPost {
  padding-right: 30px;
}

.line1 {
  display: grid;
  grid-template-columns: 70fr 30fr;
  height: 15px;
  margin: 0 0 0 50px;
}

.line11 {
  background-color: rgb(146, 127, 255);
}

.line12 {
  background-color: rgb(49, 37, 156);
}

/*AboutUsOurMission*/

.AboutUsOurMission1 {
  display: grid;
  min-height: 500px;
  background-color: rgba(192, 216, 247, 0.521);
  grid-template-columns: 5fr 80fr 5fr;
  padding: 0%;
  margin: 0%;
}

.AboutUsOurMission {
  margin: 0;
  padding: 0%;
  display: grid;
  grid-template-columns: 50fr 50fr;
  padding-top: 70px;
}

.AboutUs, .OurMission {
  padding: 20px;
}

/*chooseAcatagory*/

.chooseAcatagory {
  max-width: 100%;
  text-align: center;
  min-height: 400px;
}
.choose {
  display: grid;
  grid-template-columns: 20fr 20fr 20fr 20fr;
}

.choose1 {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.589);
  background-color: aliceblue;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.choose2 {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.589);
  background-color: aliceblue;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.choose3 {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.589);
  background-color: aliceblue;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.choose4 {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.589);
  background-color: aliceblue;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.choose1:hover {
  background-color: rgba(176, 127, 255, 0.39);
}

.choose2:hover {
  background-color: rgba(176, 127, 255, 0.39);
}

.choose3:hover {
  background-color: rgba(176, 127, 255, 0.39);
}

.choose4:hover {
  background-color: rgba(176, 127, 255, 0.39);
}

.imgChoose1 {
  border: 1px splid gray;
  border-radius: 5px;
  background-color: rgb(205, 255, 205);
  width: 60px;
  padding: 5px;
}

.imgChoose2 {
  border: 1px splid gray;
  border-radius: 5px;
  background-color: rgb(205, 255, 205);
  width: 60px;
  padding: 5px;
}

.imgChoose3 {
  border: 1px splid gray;
  border-radius: 5px;
  background-color: rgb(205, 255, 205);
  width: 60px;
  padding: 5px;
}

.imgChoose4 {
  border: 1px splid gray;
  border-radius: 5px;
  background-color: rgb(205, 255, 205);
  width: 60px;
  padding: 5px;
}
 
/*specialPost*/

.speci {
  width: 1300px;
  height: 705;
  margin: auto;
}

.specialPost {
  position: relative;
  background-image: url(../img/fit3.jpg);
  background-repeat:no-repeat;
  width: 1300px;
  height: 705px;

}

.contenSpec {
  position: absolute;
  width: 586px;
  height: 454px;
  background-color: aliceblue;
  right: 0px;
  bottom: 0px;
  padding: 60px;
}

.buttonPas {
  font-size: 130%;
  width: 280px;
  padding: 15px;
  background-color:rgb(216, 187, 21);
  border: 0;
  transition-duration: 1s;
}

.buttonPas:hover {
  background-color: rgba(126, 17, 70, 0.788);
  color:blanchedalmond;
}

/*listofAutors*/

.imAutors {
  text-align: center;
}

.listAutors2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.autor1 {
  height: 324px;
  background-color:rgb(49, 37, 156);
  color:rgb(253, 231, 201);
  margin-left: 50px;
}

.autor2 {
  height: 324px;
  background-color:rgb(146, 127, 255);
  color:rgb(253, 231, 201);
}

.autor3 {
  height: 324px;
  background-color:rgb(129, 3, 81);
  color:rgb(253, 231, 201);
}

.autor4 {
  height: 324px;
  background-color:rgb(34, 25, 25);
  color:rgb(253, 231, 201);
  margin-right: 50px;
}