body {
  margin: 0px 0px;
  padding: 0;
}

/* Nav Bar */

.Navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230.11, 600px));
  grid-template-rows: repeat(auto-fit, 5vh);
  background-color: rgb(26, 29, 37);
  height: 5vh;
  margin: 0;
  padding: 0;
}

.nav1 {
  color: antiquewhite;
  font-size: 175%;
  padding: 0;
  padding-left: 50px;
  padding-right: 30px;
  margin-bottom: 0;
}

.menu1 {
  display: inline-flex;
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 6px;
}

.menu1 li a {
  color: antiquewhite;
  padding-right: 8px;
  text-decoration: none;
}

.menu1 li a:hover {
  color: rgb(168, 150, 128);
}

.buttonTop {
  color: rgb(253, 231, 201);
  background-color: rgb(153, 108, 52);
  border: 1px solid gray;
  border-radius: 4px;
}

.buttonTop:hover {
  background-color:rgb(74, 59, 59);
}

@media (max-width: 320px) {
  .menu1 {
    grid-row: 2/3;
  }
}

/*Home Hero*/

.HomeHero {
  min-height: 75vh;
  background-image: url(../img/frame.png);
  background-size: cover;
  background-position: 50% 50%;
  color: antiquewhite;
  text-align: center;
}

.heroOne {
  max-width: 100%;
  min-height: 80vh;
  background-color: rgba(66, 63, 73, 0.868);
  margin:;
  padding: 90px 10px 0 10px;
}

.postedHero {
  padding: ;
}

.postedHero button {
 background-color: rgb(207, 207, 77);
 border: none;
 color: rgb(34, 25, 25);
 font-size: 100%;
 padding: 15px 25px;
 border-radius: 6px;
}

.postedHero button:hover {
  border: 2px solid rgb(129, 3, 81);
  text-decoration: underline;
}
.topMymain {
  font-size: 180%;
}

.postedHero h2 {
  font-size: 200%;
}

.strongYellow {
  color: rgb(214, 214, 59);
}
 
/*FeaturedPosts*/

.FeaturedPosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 650px));
  padding-top: 11vh;
  padding-bottom: 11vh;
  justify-content: center;
}

.Featureleft {
  min-height: 85vh;
  text-align: left;
  max-width: 600px;
  margin: 10px;
}
.featureCentr {
  max-width: 1400px;
}

.abbrImg {
  width: 100%;
}
.allPost {
  margin: 10px;
}

.line1 {
  display: grid;
  grid-template-columns: 70fr 30fr;
  height: 15px;
  margin: 0 0 0 50px;
}

.line11 {
  background-color: rgb(146, 127, 255);
}

.line12 {
  background-color: rgb(49, 37, 156);
}

/*AboutUsOurMission*/

.AboutUsOurMission1 {
  display: grid;
  min-height: 500px;
  background-color: rgba(192, 216, 247, 0.521);
  grid-template-columns: 5fr 80fr 5fr;
  padding: 0%;
  margin: 0%;
}

.AboutUsOurMission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 550px));
  justify-content: center;
  grid-gap: 40px;
  padding-top: 70px;
}

.AboutUs, .OurMission {
  padding: 20px;
}

/*chooseAcatagory*/

.chooseAcatagory {
  max-width: 1440px;
  text-align: center;
  min-height: 60vh;
  padding-top: 20vh;
  margin: auto;
}
.choose {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  max-width: 1440px;
  height: 100%;
  justify-content: center;
}

.chooseUse {
  padding: 20px;
  transition-property: background-color;
  transition-duration: 0.4s;
  max-width: 296px;
}

.chooseUse:hover {
  background-color: rgba(210, 194, 171, 0.623);
  border: 1px solid rgba(128, 128, 128, 0.589);
}

.imgChoose1, .imgChoose2, .imgChoose3, .imgChoose4 {
  border: 1px splid gray;
  border-radius: 5px;
  background-color: rgb(205, 255, 205);
  width: 60px;
  padding: 5px;
}
 
/*specialPost*/

.speci {
  max-width: 1300px;
  height: 705;
  margin: auto;

}

.specialPost {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(1fr, 1fr, minmax(454, auto));
  background-image: url(../img/fit3.jpg);
  background-repeat:no-repeat;
  max-width: 1300px;
  min-height: 705px;
  justify-content: right;
}

.contenSpec {
  grid-row: 3;
  max-width: 586px;
  min-height: 454px;
  background-color: rgba(240, 248, 255, 0.794);
  justify-items: center;
  padding: 8px;
}

.buttonPas {
  font-size: 130%;
  padding: 15px 70px;
  background-color:rgb(216, 187, 21);
  border: 0;
  transition-duration: 1s;
}

.buttonPas:hover {
  background-color: rgba(126, 17, 70, 0.788);
  color:blanchedalmond;
}

/*listofAutors*/

.listofAutors {
  min-height: 75vh;
}

.imAutors {
  margin-top: 18vh;
  text-align: center;
}

.listAutors2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
}
.autor1, .autor4, .autor2, .autor3 {
  height: 324px;
  padding-top: 45px;
}

.maks1, .ekaterina, .kris, .cat1 {
  border-radius: 50% 50% 50% 50%;
  width: 138px;
  height: 138px;
}

.icon {
  width: 16px;
  height: 16px;
}

h3 {
  margin: 0;
}

/*logoComponent*/

.logoComponent {
  color: gray;
  margin-bottom: 60px;
}

.logoList {
  display: flex;
  min-height: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logoAll {
  display: flex;
  padding: 3px;
  margin: 20px 40px;
}

.logoAll img {
  width: 40px;
  height: 24px;
}

.featureIn p, .featureIn h3 {
  margin: 0px;
}

/*Testimonials*/

.TestContainer {
  max-width: 1180px;
  min-height: 464px;
  margin: auto;
}

.Testimonials {
  display: grid;
  grid-template-columns: 1fr 13px 1fr;
  padding-top: 17vh;
}

@media (max-width:640px) {
  .Testimonials {
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(auto-fit, minmax(300px, 550px));
    padding-top: 5vh;
    background-color:rgb(249, 219, 182);
  }
}

.linevert {
  width: 3px;
  height: 300px;
  background-color:rgb(114, 111, 141);
}

.amon2{
  min-height: 300px;
  padding-left: 15px;
}

.author2, .author3 {
  display: none;
}